# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
.vs/
*.docx
*.user

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
*.pubxml
RESTfulClient/Properties/PublishProfiles/RESTfulClient - Web Deploy.pubxml.user
RESTfulClient/Properties/serviceDependencies.RESTfulClient - Web Deploy.json
RESTfulClient/Properties/serviceDependencies.RESTfulClient - Web Deploy.json.user
*.url
